{% extends "base.html" %}
{% block title %} Courses {% endblock %}


{% block head %}
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" style="color: rgb(24,122,153); font-family: Koulen;">
                <i class="fa-solid fa-list"></i> SSIS
            </a>
           
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 41%;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/" style="color: rgb(24,122,153); font-family: Koulen;"> Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/courses" style="color: rgb(24,122,153); font-family: Koulen;"> Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/colleges" style="color: rgb(24,122,153); font-family: Koulen;"> Colleges</a>
                    </li>
                    <li class="nav-item">
                        <form action="{{ url_for('controller.search_courses') }}" method="POST" class="d-flex">
                            <select name="search_field" id="search_field" class="form-select me-2" style="max-width: 150px;">
                                <option value="COURSE_CODE">Course Code</option>
                                <option value="COURSE_NAME">Course Name</option>
                                <option value="COLLEGE_CODE">College Code</option>
                            </select>
                            <input type="text" name="search_value" id="search_value" class="form-control me-2" placeholder="Search Value" style="max-width: 200px;">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
{% endblock %}


{% block content %}

<!--STYLE-->
<style>
#head{
    background-color: rgb(24,122,153);
    color: white;
    font-family: Inter;
    position: sticky;
}
.form-control::placeholder{
    color: rgba(95, 94, 94, 0.658);
    text-align: center;
}
input{
    color: white;
}
</style>


<!--TITLE-->
<div style="margin-top: 100px; margin-bottom: 50px;">
  <h1 style="text-align: center; font-size: 100px; font-family: Koulen; 
  background: linear-gradient(to right, #093757 35%, #60bbe6 65%); -webkit-background-clip: text;
   color: transparent; background-clip: text;">COURSES</h1>
</div>





    <!--BUTTON-->
    <div style="margin-bottom: 30px;">
    <div class="pt-3 mb-4" style="margin-left: 37.5%;">
        <button
          data-mdb-button-init
          data-mdb-ripple-init
          class="btn btn-xl"
          data-bs-toggle="modal"
          data-bs-target="#modalStudents"
          aria-controls="modalStudents"
          
          type="button"
          style="
            background-color: rgb(14, 111, 141);
            color: white;
            height: 50px;
            font-family: Inter;
            font-weight: 500;
            font-size: 16px;
            width: 40%;
          "
        >
        <i class="fa-solid fa-circle-plus" style="color: #f0f3f4;"></i>  <span style="margin-left: 10px;">ADD COURSE</span>
        </button>
      </div>
    </div>



<!--MODAL-->
<div class="modal fade" id="modalStudents" tabindex="-1" aria-labelledby="modalStudents" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Course</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form action="{{ url_for('routes.coursesPage') }}" method="POST">
            <div class="mb-2">
                    <label class="form-label" for="COURSE_CODE" style="color: rgb(0, 0, 0);">COURSE CODE</label>
                    <input
                      type="text"
                      id="COURSE_CODE"
                      class="form-control"
                      name="COURSE_CODE"
                      placeholder="'BSCS'"
                      style="font-family: Inter;"
                      required
                    />
            </div>

            <div class="mb-2">
                    <label class="form-label" for="COURSE_NAME" style="color: rgb(0, 0, 0);">COURSE NAME</label>
                    <input
                      type="text"
                      id="COURSE_NAME"
                      class="form-control"
                      name="COURSE_NAME"
                      placeholder="'Bachelor of Science in Computer Studies'"
                      style=" font-family: Inter;"
                      required
                    />
            </div>

            <div class="mb-3">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="COLLEGE_CODE" name="COLLEGE_CODE">
                <option selected disabled>--COLLEGE--</option>
                {% for college in colleges %}
                    <option value="{{ college['COLLEGE_CODE'] }}">{{ college['COLLEGE_NAME'] }}</option>
                {% endfor %}
             </select>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Add</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>


   <!--TABLE-->
   <div style="margin-bottom: 250px; overflow-x: auto;">
    <table class="table">
      <thead>
        <tr id="head">
          <th scope="col" style="background: linear-gradient(to right, #041f28, #073a4a); color: white;">COURSE CODE</th>
          <th scope="col" style="background: linear-gradient(to right, #073a4a, #0d637e); color: white;">COURSE NAME</th>
          <th scope="col" style="background: linear-gradient(to right, #0d637e, #1d809f); color: white;">COLLEGE NAME</th>
          <th scope="col" style="background: linear-gradient(to right, #1d809f, #2f94b4); color: white;"></th>
      </tr>

      </thead>
      <tbody>
        {% if courses %}
          {% for data in courses %}
          <tr>
            <td>{{ data['COURSE_CODE'] }}</td>
            <td>{{ data['COURSE_NAME'] }}</td>
            <td>{{ data['COLLEGE_CODE'] }}</td>
            <td>
              <button class="btn btn-warning btn-xs" data-bs-toggle="modal" data-bs-target="#modaledit-{{ data['COURSE_CODE'] }}"><i class="fa-solid fa-gear"></i></button>
              <form action="{{ url_for('controller.deleteCourse', course_code=data['COURSE_CODE']) }}" method="POST" style="display: inline;">
                <button type="button" class="btn btn-danger btn-xs" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ data['COURSE_CODE'] }}">
                  <i class="fa-solid fa-trash"></i>
              </button>              
            </form>
            </td>
          </tr>
  
          <!-- Modal -->
          <div class="modal fade" id="modaledit-{{ data['COURSE_CODE'] }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Update Course</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form action="{{ url_for('controller.coursesUpdate') }}" method="POST">
                          <input type="hidden" name="OLD_COURSE_CODE" value="{{ data['COURSE_CODE'] }}">
                          
                          <div class="mb-2">
                              <label class="form-label" for="NEW_COURSE_CODE">COURSE CODE</label>
                              <input type="text" id="NEW_COURSE_CODE" class="form-control" name="NEW_COURSE_CODE" value="{{ data['COURSE_CODE'] }}" required>
                          </div>
                      
                          <div class="mb-2">
                              <label class="form-label" for="COURSE_NAME">COURSE NAME</label>
                              <input type="text" id="COURSE_NAME" class="form-control" name="COURSE_NAME" value="{{ data['COURSE_NAME'] }}" required>
                          </div>
                      
                          <div class="mb-3">
                              <label class="form-label" for="COLLEGE_CODE">COLLEGE</label>
                              <select class="form-select" id="COLLEGE_CODE" name="COLLEGE_CODE">
                                  {% for college in colleges %}
                                      <option value="{{ college['COLLEGE_CODE'] }}" {% if college['COLLEGE_CODE'] == data['COLLEGE_CODE'] %}selected{% endif %}>
                                          {{ college['COLLEGE_NAME'] }}
                                      </option>
                                  {% endfor %}
                              </select>
                          </div>
                      
                          <div class="modal-footer">
                              <button type="submit" class="btn btn-primary">Update</button>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          </div>
                      </form>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal fade" id="deleteModal-{{ data['COURSE_CODE'] }}" tabindex="-1" aria-labelledby="deleteModalLabel-{{ data['COURSE_CODE'] }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel-{{ data['COURSE_CODE'] }}">Confirm Deletion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete the course <strong>{{ data['COURSE_NAME'] }}</strong> ({{ data['COURSE_CODE'] }})? This action cannot be undone.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form action="{{ url_for('controller.deleteCourse', course_code=data['COURSE_CODE']) }}" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          

          {% endfor %}
        {% else %}
          <tr><td colspan="8">No courses found.</td></tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>




{%endblock%}